User tinyproxy
Group tinyproxy

Port {{ proxy_port }}

Timeout 600

DefaultErrorFile "/usr/share/tinyproxy/default.html"

StatFile "/usr/share/tinyproxy/stats.html"

LogLevel Info

MaxClients 100

MinSpareServers 5
MaxSpareServers 20

StartServers 10

MaxRequestsPerChild 0

{% for item in whitelist %}
Allow {{ item }}
{% endfor %}

DisableViaHeader Yes